{
  "printWidth": 140,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "options": {
        "jsxBracketSameLine": true,
        "bracketSpacing": true,
        "semi": true,
        "trailingComma": "none",
        "singleQuote": true,
        "parser": "typescript",
        "arrowParens": "avoid"
      }
    }
  ]
}

