/*--------------------------------------
Colour Palette
--------------------------------------*/
// Greyscale
$grey-1: rgb(19, 25, 42);
$grey-2: rgb(54, 61, 78);
$grey-3: rgb(91, 98, 117);
$grey-4: rgb(124, 132, 152);
$grey-5: rgb(155, 161, 177);
$grey-6: rgb(183, 187, 198);
$grey-7: rgb(207, 210, 218);
$grey-8: rgb(227, 228, 233);
$grey-9: rgb(242, 243, 245);
$white: rgb(255, 255, 255);

// Colours
$hero-green: rgb(0, 123, 75);
$dark-green: rgb(0, 87, 63);
$light-green: rgb(0, 177, 64);
$blue: rgb(46, 113, 186);
$dark-blue: rgb(37, 92, 150);
$light-blue: rgb(23, 162, 184);
$red: rgb(209, 16, 34);
$yellow: rgb(253, 218, 36);

$borders: $grey-7;

/*--------------------------------------
Hover highlight / selected items
--------------------------------------*/
$highlight: $grey-7; // When hovering over a menu item or when a menu item is selected

/*--------------------------------------
Text
--------------------------------------*/
$titles: $grey-1; // All headings
$text: $grey-2; // All text
$title-inverse: $grey-8; // All headings on dark background
$text-inverse: $grey-7; // All text on dark backgrounds

$strong: 500;

$h-1: 1.875rem; // 30px
$h-2: 1.375rem; // 22px
$h-3: 1rem; // 16px
$label-1: 0.8125rem; // 13px
$label-2: 0.75rem; // 12px
$label-3: 0.625rem; // 10px

/*--------------------------------------
Shadows
--------------------------------------*/
$shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
$shadow-under: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 0 20px 0 rgba(0, 0, 0, 0.18);

/*--------------------------------------
Spacing for custom use
--------------------------------------*/
$xxl: 5rem; // 80px
$xl: 4rem; // 64px
$l: 2.5rem; // 40px
$m: 2rem; // 32px
$s: 1.25rem; // 20px
$xs: 1rem; // 16px
$xxs: 0.625rem; // 10px

/*--------------------------------------
Media queries
--------------------------------------*/
$lg-min: 768px; // this is the breakpoint at which large screens start
$sm-md-max: 767px; // this is the breakpoint at which small and medium screens end

$screen-md-min: 576px;
$max-formly-width: 600px;

@mixin no-margins-sides {
  margin-right: 0;
  margin-left: 0;
}

@mixin negative-1-25-rem-margin-sides {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

$error-colour: $red;

// Error border for input, textarea, ng-select controls
$error-border: 1px solid $error-colour;

$invalid-border-color: $red;